//colors
$off-black:hsl(0,15%,15%);
$blue-white:hsl(240,35%,65%);
$dark-blue: hsl(240, 15%, 35%);
$blue: hsl(220, 15%, 30%); //#3c4251
$light-blue:hsl(228, 15%, 32%);//464b5e
$purple:hsl(270, 60%, 60%); //#8357c5
$white:hsl(0, 0%, 100%);
$off-white: hsl(0, 0%, 90%);

//spacing
$s-size:1.2rem;
$m-size:1.6rem;
$l-size:3.2rem;
$xl-size:4.8rem;